.log_in{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    justify-content: space-evenly;
}
.img_login{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img_login img{
    width: 15%;
}
.login_btn{
    padding: 10px 60px;
    border: none;
    cursor: pointer;
    background-color: #2e81f4;
    color: white;
    border-radius: 5px;
    font-size: large;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}
.login_btn:hover{
    background-color: lightgray;
    color: #2e81f4;
    border: 1px solid #2e81f4;
    
}